/*  폰트 연결 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
/* 전체 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,li {
    list-style: none;
    cursor: pointer;
}

body {
    max-width: 1920px;
    max-height: 1080px;
}

p {
    cursor: pointer;
}
/* 화살표 리셋 */
.fp-controlArrow.fp-prev {
    left: 15px !important;
    border: none;
    width: 30px !important; 
    height: 60px;
    background: url(../img/left-arrow.png) no-repeat;
    cursor: pointer;
}

.fp-controlArrow.fp-prev:hover {
    background: url(../img/left-arrow-black.png) no-repeat;
}

.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 30px;
    height: 60px;
    background: url(../img/right-arrow.png) no-repeat;
    cursor: pointer;
}

.fp-controlArrow.fp-next:hover {
    background: url(../img/right-arrow-black.png) no-repeat;
}

/* 섹션부분 */
.section {
    width: 1920px;
    height: 1080px;
    border-bottom: 1px solid black;
    position: relative;
}

.slide:nth-child(1) {
    background: url(../img/main-back.jpg);
}

.slide:nth-child(1) #gnb {
    width: 1920px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    animation: menu 0.5s 1 linear;
    opacity: 1;
    background-color: #81746b;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

@keyframes menu {
    0% {
        opacity: 0;
        height: 0;
        line-height: 0;
    }
}

.slide:nth-child(1) #gnb ul>li {
    float: left;
    color: #fff;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 60px;
    text-shadow: 2px 2px 2px rgb(134, 134, 134, 0.5);
    animation: menu 0.5s 1 linear;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

#denby {
    width: 300px;
}

#product {
    width: 300px;
}

#support {
    width: 300px;
}

#online-store{
    width: 300px;
}

.gnb-menu {
    margin-left: 100px;
    text-align: center;
}

.gnb-menu:hover .sub-menu {
    opacity: 1;
    display: block;
    width: 400px;
}

#denby:hover #sub-denby {
    opacity: 1;
    display: block;
    width: 400px;
}

.sub-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 80px;
    z-index: 999;
    background-color: #81746b;
    border-radius: 0 0 20px 20px;
    opacity: 0;
    transition: 1s;
    font-weight: 100;
    color: #d5d5d5;
}

.sub-menu li:hover {
    text-decoration: underline;
}

.sub-menu>li {
    width: 120px;
    margin-left: 0px;
    font-size: 18px !important;
    font-weight: 300;
    line-height: 80px;
}

#sub-support {
    height: 200px;
}

.slide:nth-child(1) #gnb #right-menu {
    float: right;
    margin-right: 150px;
}

.slide:nth-child(1) #logo img {
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 830px;
    animation: logoMove 1s 1 linear;
    animation-delay: 0.7s;
    opacity: 1;
    animation-fill-mode: backwards;
}

@keyframes logoMove {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}

.slide:nth-child(1) img {
    border-radius: 10px;
    position: absolute;
}

.slide:nth-child(1) #M-blue {
    position: absolute;
    border-radius: 50%;
    width: 345px;
    height: 345px;
    top: 130px;
    left: 1450px;
    animation: center 0.7s 1 ease-in-out;
    box-shadow: 30px 20px 20px 20px rgb(164, 163, 161, 0.3);

}

.slide:nth-child(1) #M-jade {
    border-radius: 0 50px 50px 50px;
    top: 190px;
    left: 130px;
    animation: center 0.8s 1 ease-in-out;

}

.slide:nth-child(1) #M-header {
    position: absolute;
    border-radius: 0px 20px 20px 20px;
    top: 185px;
    left: 580px;
    animation: center 0.7s 1 ease-in-out;
}

.slide:nth-child(1) #M-platter {
    border-radius: 0 250px 250px 250px;
    top: 190px;
    left: 1080px;
    animation: center 0.6s 1 ease-in-out;

}

.slide:nth-child(1) #M-rame {
    border-radius: 0 250px 250px 250px;
    top: 410px;
    left: 410px;
    animation: center 0.7s 1 ease-in-out;

}

.slide:nth-child(1) #M-green {
    position: absolute;
    border-radius: 50%;
    top: 570px;
    left: 100px;
    animation: center 0.6s 1 ease-in-out;
    width: 280px;
    height: 280px;
    box-shadow: 40px 30px 20px 20px rgb(161, 161, 158, 0.4);
}

.slide:nth-child(1) #M-small {
    border-radius: 0 100px 100px 100px;
    top: 635px;
    left: 1490px;
    animation: center 0.7s 1 ease-in-out;

}

.slide:nth-child(1) #M-halo {
    position: absolute;
    border-radius: 50%;
    top: 660px;
    left: 1160px;
    animation: center 0.8s 1 ease-in-out;
    width: 140px;
    height: 140px;
    box-shadow: 40px 30px 20px 20px rgb(161, 158, 152, 0.3);
}

.slide:nth-child(1) #M-ochard {
    position: absolute;
    border-radius: 50%;
    top: 690px;
    left: 600px;
    animation: center 0.9s 1 ease-in-out;
    width: 300px;
    height: 300px;
    box-shadow: 40px 45px 20px 20px rgba(185, 175, 166, 0.3);

}
/* 메인 동작 애니메이션 */
@keyframes center {
    0% {
        top: 340px;
        left: 800px;
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes size {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.slide:nth-child(2) div {
    position: absolute;
}

.slide:nth-child(2) #concept-left p {
    position: absolute;
    z-index: 99;
    font-size: 30pt;
    color: #fff;
    font-weight: bold;
    left: 50px;
    top: 30px;
}

.slide:nth-child(2) #wine {
    left: 515px;
    top: 120px;
}

.slide:nth-child(2) #wine:hover p:nth-child(2) {
    text-decoration: underline;
}

.slide:nth-child(2) #wine:hover p:nth-child(3) {
    text-decoration: underline;
}

.slide:nth-child(2) #wine:hover #wine-intro {
    opacity: 1;
}

.slide:nth-child(2) #wine #wine-intro {
    width: 120px;
    height: 301px;
    right: 0;
    background-color: #807670;
    opacity: 0.9;
    z-index: 99;
    text-align: right;
    font-size: 12pt;
    /* line-height: 140%; */
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 400;
}

.slide:nth-child(2) #wine #wine-intro p {
    margin-right: 5px;
    margin-top: 78px;
}


.slide:nth-child(2) #wine #wine-intro p:nth-child(2){
    font-size: 12pt;
    margin-top: 5px;
}

.slide:nth-child(2) #wine #wine-intro p:nth-child(3){
    font-size: 12pt;
    margin-top: 0px;
}

.slide:nth-child(2) #impression {
    left: 1000px;
    top: 10px;
}

.slide:nth-child(2) #impression:hover p:nth-child(2) {
    text-decoration: underline;
}

.slide:nth-child(2) #impression:hover p:nth-child(3) {
    text-decoration: underline;
}

.slide:nth-child(2) #impression:hover #impression-intro {
    opacity: 1;
}

.slide:nth-child(2) #impression #impression-intro {
    width: 350px;
    height: 120px;
    bottom: 0;
    background-color: #807670;
    opacity: 0.9;
    z-index: 99;
    text-align: center;
    font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 400;
}

.slide:nth-child(2) #impression #impression-intro p {
    margin-top: 10px;
}

.slide:nth-child(2) #impression #impression-intro p:nth-child(2){
    font-size: 12pt;
    margin-top: 5px;
}

.slide:nth-child(2) #impression #impression-intro p:nth-child(3){
    font-size: 12pt;
    margin-top: 0px;
}

.slide:nth-child(2) #autumn {
    left: 1380px;
    top: 85px;
}

.slide:nth-child(2) #autumn:hover p:nth-child(2) {
    text-decoration: underline;
}

.slide:nth-child(2) #autumn:hover p:nth-child(3) {
    text-decoration: underline;
}

.slide:nth-child(2) #autumn:hover #autumn-intro {
    opacity: 1;
}

.slide:nth-child(2) #autumn #autumn-intro {
    width: 300px;
    height: 110px;
    bottom: 0;
    background-color: #807670;
    opacity: 0.9;
    z-index: 99;
    text-align: center;
    font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 400;
}

.slide:nth-child(2) #autumn #autumn-intro p {
    margin-top: 5px;
}

.slide:nth-child(2) #autumn #autumn-intro p:nth-child(2){
    font-size: 12pt;
    margin-top: 0px;
}

.slide:nth-child(2) #autumn #autumn-intro p:nth-child(3){
    font-size: 12pt;
    margin-top: 0px;
}

.slide:nth-child(2) #x-mas{
    left: 636px;
    top: 435px;
}

.slide:nth-child(2) #x-mas:hover p:nth-child(2) {
    text-decoration: underline;
}

.slide:nth-child(2) #x-mas:hover p:nth-child(3) {
    text-decoration: underline;
}

.slide:nth-child(2) #x-mas:hover #x-mas-intro {
    opacity: 1;
}

.slide:nth-child(2) #x-mas #x-mas-intro {
    width: 350px;
    height: 120px;
    bottom: 0;
    background-color: #807670;
    opacity: 0.9;
    z-index: 99;
    text-align: center;
    font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 400;
}

.slide:nth-child(2) #x-mas #x-mas-intro p {
    margin-top: 10px;
}

.slide:nth-child(2) #x-mas #x-mas-intro p:nth-child(2){
    font-size: 12pt;
    margin-top: 5px;
}

.slide:nth-child(2) #x-mas #x-mas-intro p:nth-child(3){
    font-size: 12pt;
    margin-top: 0px;
}

.slide:nth-child(2) #kitchen{
    left: 1000px;
    top: 560px;
}

.slide:nth-child(2) #kitchen:hover p:nth-child(2) {
    text-decoration: underline;
}

.slide:nth-child(2) #kitchen:hover p:nth-child(3) {
    text-decoration: underline;
}

.slide:nth-child(2) #kitchen:hover #kitchen-intro {
    opacity: 1;
}

.slide:nth-child(2) #kitchen #kitchen-intro {
    width: 120px;
    height: 400px;
    left: 0;
    background-color: #807670;
    opacity: 0.9;
    z-index: 99;
    text-align: left;
    font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 400;
}

.slide:nth-child(2) #kitchen #kitchen-intro p {
    margin-top: 120px;
    margin-left: 5px;
}

.slide:nth-child(2) #kitchen #kitchen-intro p:nth-child(2){
    font-size: 12pt;
    margin-top: 5px;
}

.slide:nth-child(2) #kitchen #kitchen-intro p:nth-child(3){
    font-size: 12pt;
    margin-top: 0px;
}

.slide:nth-child(3) div {
    float: left;
}

.slide:nth-child(3) {
    background-image: url(../img/dish-back_04.jpg) ;
}

.slide:nth-child(3) #dish-back1 {
    width: 480px;
    height: 1080px;
    background-image: url(../img/dish-back_01.jpg) ;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.slide:nth-child(3) div img {
    display: block;
    position: absolute;
    top: 95px;
    left: 85px;
}

.slide:nth-child(3) div p {
    display: block;
    width: 428px;
    height: 50px;
    position: absolute;
    top: 800px;
    left: 600px;
    z-index: 999;
    color: #d5d5d5;
    font-weight: 600;
    font-size: 40px;
    opacity: 0;
    transition: 1s;
    font-family: 'Noto Sans KR', sans-serif;
}

.slide:nth-child(3) div:hover p {
    opacity: 1;
    color: #fff;
}

.slide:nth-child(3) div p:nth-child(3) {
    display: block;
    width: 157px;
    height: 30px;
    position: absolute;
    top: 850px;
    left:735px;
    z-index: 999;
    color: #d5d5d5;
    font-weight: 300;
    font-size: 20px;
    text-align: right;
}

.slide:nth-child(3) #dish-back2 {
    width: 480px;
    height: 1080px;
    background-image: url(../img/dish-back_02.jpg);
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

.slide:nth-child(3) #dish-back2 p:nth-child(2) {
    left: 600px;
}


.slide:nth-child(3) #dish-back2 p:nth-child(3) {
    left: 680px;
}

.slide:nth-child(3) #dish-back3 {
    width: 480px;
    height: 1080px;
    background-image: url(../img/dish-back_03.jpg) ;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

.slide:nth-child(3) #dish-back3 p:nth-child(2) {
    left: 765px;
}

.slide:nth-child(3) #dish-back4 {
    width: 480px;
    height: 1080px;
    background-image: url(../img/dish-back_04.jpg) ;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

.slide:nth-child(3) #dish-back4 p:nth-child(2) {
    left: 805px;
}

.slide:nth-child(4) {
    width: 1920px;
    height: 1080px;
}

.slide:nth-child(4) div{
    position: relative;
    float: left; 
    font-family: 'Noto Sans KR', sans-serif; 
}

.slide:nth-child(4) #store-left {
    background-image: url(../img/offline-back_01.jpg);
    width: 480px;
    height: 1080px;
    top: 0;
    left: 0;
}

.slide:nth-child(4) #offline-store1 {
    width: 480px;
    height: 1080px;
    background-color: #f7f7f8;
    padding-right: 10px;
}

.slide:nth-child(4) #offline-store1>p{
    font-size: 24pt;
    color: #81746b;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
    margin-bottom: 10px;
}

.slide:nth-child(4) #offline-store2 {
    width: 480px;
    height: 1080px;
    background-color: #81746b;
}

.slide:nth-child(4) #offline-store2>p{
    font-size: 24pt;
    color: #fff;
    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
}


.slide:nth-child(4) #offline-store3 {
    width: 480px;
    height: 1080px;
    background-color: #f7f7f8;
    padding-right: 10px;
}

.slide:nth-child(4) #offline-store3>p{
    font-size: 24pt;
    color: #81746b;
    margin-top: 20px;
    margin-right: 30px;
    text-align: right;
    font-weight: bold;

}

.slide:nth-child(4) #store-left p {
   font-size: 24pt;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: bolder;
   width: 315px;
   height: 50px;
   display: block;
   position: absolute;
   top: 455px;
   left: 90px;
   color: #fff;
}
.slide:nth-child(4) #store-left p:nth-child(2){
    font-size: 16px;
    width: 350px;
    height: 30px;
    top: 500px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
} 

.slide:nth-child(4) #sinsaegae-wrap div {
    /* width: 145px;
    height: 185px; */
    /* border-bottom: 1px solid #b09173; */
    text-align: right;
    position: absolute;
    right: 0;
}

.slide:nth-child(4) #offline-store1 #sinsaegae {
    width: 225px;
    height: 50px;
    border-bottom: 1px solid #81746b;
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 14pt;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-right: 30px;
}

.slide:nth-child(4) #sinsaegae-wrap {
    position: absolute;
    width: 480px;
    height: 470px;
    /* background-color: aqua; */
    right: 0;
    top: 140px;
    margin-right: 30px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon1 {
    width: 200px;
    height: 185px;
    left: 40px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon1 p{
    font-size: 14px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon1 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon1:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon1 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon1 img{
    height: 30px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon2 {
    width: 200px;
    height: 185px;
    left: 280px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon2 p{
    font-size: 14px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon2 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon2:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon2 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon2 img{
    height: 30px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon3 {
    width: 200px;
    height: 185px;
    left: 40px;
    top: 170px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon3 p{
    font-size: 14px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon3 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon3:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon3 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon3 img{
    height: 30px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon4 {
    width: 200px;
    height: 185px;
    left: 280px;
    top: 170px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon4 p{
    font-size: 14px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon4 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon4:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon4 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon4 img{
    height: 30px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon5 {
    width: 200px;
    height: 185px;
    left: 40px;
    top: 340px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon5 p{
    font-size: 14px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon5 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon5:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon5 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon5 img{
    height: 30px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon6 {
    width: 200px;
    height: 185px;
    left: 280px;
    top: 340px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon6 p{
    font-size: 14px;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon6 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon6:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon6 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #sinsaegae-wrap #sinsaegaecon6 img{
    height: 30px;
}

.slide:nth-child(4) #offline-store1 #ak {
    width: 225px;
    height: 50px;
    border-bottom: 1px solid #81746b;
    text-align: right;
    position: absolute;
    right: 0;
    top: 670px;
    font-size: 14pt;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-right: 30px;
}

.slide:nth-child(4) #akcon-wrap {
    position: absolute;
    width: 480px;
    height: 470px;
    right: 0;
    top: 740px;
    margin-right: 30px;
}

.slide:nth-child(4) #akcon-wrap div {
    width: 145px;
    height: 185px;
    /* border-bottom: 1px solid #b09173; */
    text-align: right;
    position: absolute;
    right: 0;
}

.slide:nth-child(4) #akcon-wrap #akcon1 {
    width: 200px;
    height: 185px;
    left: 40px;
}

.slide:nth-child(4) #akcon-wrap #akcon1 p{
    font-size: 14px;
}

.slide:nth-child(4) #akcon-wrap #akcon1 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #akcon-wrap #akcon1:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #akcon-wrap #akcon1 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #akcon-wrap #akcon1 img{
    height: 30px;
}

.slide:nth-child(4) #akcon-wrap #akcon2 {
    width: 200px;
    height: 185px;
    left: 280px;
}

.slide:nth-child(4) #akcon-wrap #akcon2 p{
    font-size: 14px;
}

.slide:nth-child(4) #akcon-wrap #akcon2 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #akcon-wrap #akcon2:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #akcon-wrap #akcon2 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #akcon-wrap #akcon2 img{
    height: 30px;
}

.slide:nth-child(4) #akcon-wrap #akcon3 {
    width: 200px;
    height: 185px;
    left: 40px;
    top: 170px;
}

.slide:nth-child(4) #akcon-wrap #akcon3 p{
    font-size: 14px;
}

.slide:nth-child(4) #akcon-wrap #akcon3 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #akcon-wrap #akcon3 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #akcon-wrap #akcon3 img{
    height: 30px;
}

.slide:nth-child(4) #offline-store2 #costco {
    width: 230px;
    height: 50px;
    left: 240px;
    top: 10px;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: right;
    margin-right: 10px;
}

.slide:nth-child(4) #offline-store2 #emart{
    width: 230px;
    height: 50px;
    left: 0px;
    top: 200px;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: right;
    margin-right: 10px;
}

.slide:nth-child(4) #offline-store2 #homeplus {
    width: 230px;
    height: 50px;
    left: 240px;
    top: 400px;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: right;
    margin-right: 10px;
}

.slide:nth-child(4) #offline-store2 #hansame {
    width: 230px;
    height: 50px;
    left: 0px;
    top: 600px;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: right;
    margin-right: 10px;
}

----------------여기
.slide:nth-child(4) #lotte-wrap div {
    text-align: right;
    position: absolute;
    right: 0;
}

.slide:nth-child(4) #offline-store3 #lotte {
    width: 225px;
    height: 50px;
    border-bottom: 1px solid #81746b;
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 14pt;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-right: 40px;
    margin-top: 10px;
}

.slide:nth-child(4) #lotte-wrap {
    position: absolute;
    width: 480px;
    height: 470px;
    right: 0;
    top: 140px;
    margin-right: 20px;
}

.slide:nth-child(4) #lotte-wrap #lottecon1 {
    width: 200px;
    height: 185px;
    left: 40px;
    text-align: right;
}

.slide:nth-child(4) #lotte-wrap #lottecon1 p{
    font-size: 14px;
}

.slide:nth-child(4) #lotte-wrap #lottecon1 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #lotte-wrap #lottecon1:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #lotte-wrap #lottecon1 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #lotte-wrap #lottecon1 img{
    height: 30px;
}

.slide:nth-child(4) #lotte-wrap #lottecon2 {
    width: 200px;
    height: 185px;
    left: 65px;
    text-align: right;
}

.slide:nth-child(4) #lotte-wrap #lottecon2 p{
    font-size: 14px;
}

.slide:nth-child(4) #lotte-wrap #lottecon2 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #lotte-wrap #lottecon2:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #lotte-wrap #lottecon2 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #lotte-wrap #lottecon2 img{
    height: 30px;
}

.slide:nth-child(4) #lotte-wrap #lottecon3 {
    width: 200px;
    height: 185px;
    left: 40px;
    top: -15px;
    text-align: right;
}

.slide:nth-child(4) #lotte-wrap #lottecon3 p{
    font-size: 14px;
}

.slide:nth-child(4) #lotte-wrap #lottecon3 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #lotte-wrap #lottecon3:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #lotte-wrap #lottecon3 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #lotte-wrap #lottecon3 img{
    height: 30px;
}

.slide:nth-child(4) #lotte-wrap #lottecon4 {
    width: 200px;
    height: 185px;
    left: 280px;
    top: -15px;
    left: 65px;
    text-align: right;

}

.slide:nth-child(4) #lotte-wrap #lottecon4 p{
    font-size: 14px;
}

.slide:nth-child(4) #lotte-wrap #lottecon4 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #lotte-wrap #lottecon4:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #lotte-wrap #lottecon4 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #lotte-wrap #lottecon4 img{
    height: 30px;
}

.slide:nth-child(4) #lotte-wrap #lottecon5 {
    width: 200px;
    height: 185px;
    left: 40px;
    top: -30px;
    text-align: right;
}

.slide:nth-child(4) #lotte-wrap #lottecon5 p{
    font-size: 14px;
}

.slide:nth-child(4) #lotte-wrap #lottecon5 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #lotte-wrap #lottecon5:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #lotte-wrap #lottecon5 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #lotte-wrap #lottecon5 img{
    height: 30px;
}

.slide:nth-child(4) #lotte-wrap #lottecon6 {
    width: 200px;
    height: 185px;
    left: 60px;
    top: -30px;
    text-align: right;
}

.slide:nth-child(4) #lotte-wrap #lottecon6 p{
    font-size: 14px;
}

.slide:nth-child(4) #lotte-wrap #lottecon6 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #lotte-wrap #lottecon6:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #lotte-wrap #lottecon6 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #lotte-wrap #lottecon6 img{
    height: 30px;
}

----여기2
.slide:nth-child(4) #hyundaecon-wrap div {
    text-align: right;
    position: absolute;
    right: 0;
}

.slide:nth-child(4) #offline-store3 #hyundae {
    width: 225px;
    height: 50px;
    border-bottom: 1px solid #81746b;
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 14pt;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-right: 40px;
    top: 670px;
}

.slide:nth-child(4) #hyundaecon-wrap {
    position: absolute;
    width: 480px;
    height: 470px;
    right: 0;
    top: 680px;
    margin-right: 20px;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon1 {
    width: 200px;
    height: 185px;
    left: 40px;
    top: 60px;
    text-align: right;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon1 p{
    font-size: 14px;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon1 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon1:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon1 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon1 img{
    height: 30px;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon2 {
    width: 200px;
    height: 185px;
    left: 60px;
    top: 60px;
    text-align: right;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon2 p{
    font-size: 14px;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon2 p:nth-child(2){
    font-size: 16pt;
    font-weight: bold;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon2:hover p:nth-child(2) {
    color: #81746b;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon2 p:nth-child(5){
    color: #b09173;
}

.slide:nth-child(4) #hyundaecon-wrap #hyundaecon2 img{
    height: 30px;
}